body {background-color: white;}
#videoBackground {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }

#ball {
    position: absolute;
    color:black;
    left: 400px;
    top: 450px;
}
th.extracted{
    background-color:green;
    color:white;
}
.nulo{
    background-color: gray;
}
table.bingoCard {
    border: 5px solid black;
    border-radius:25px;
    -moz-border-radius:25px;
    font-size: 40px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 34px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 620px;
    min-height: 400px;
    max-height: 70%;
    opacity: 0.9;
    border-radius: 25px;
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    align-items: center;
  }
  .modal-content img{
      display: block;
    margin-left: auto;
    margin-right: auto;
  }
  /* The Close Button */
  .close {
    position: absolute;
    right: 20px;
    top: 10px;
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  input:focus{
    outline: none;
    }

  .button {
    display: inline;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }

  /* RENDER ONE BALL */
  .blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s linear infinite;
    -moz-animation: blink-animation 1s linear infinite;
    animation: blink-animation 0.5s linear infinite;
  }
  @keyframes blink-animation {  
    0% { background-color: rgb(255, 0, 242); }
    100% { background-color: #bbb;; }
  }
  @-webkit-keyframes blink-animation {
      0% { background-color: rgb(255, 0, 221); }
    100% { background-color: #bbb; }
  } 

  /* Mute video */

  .btn--mute {
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 35px;
    color: rgb(230, 230, 230);
    width: auto;
    border-radius: 50%;
    padding: 10px;
    z-index: 99;
    transition: 0.1s;
    text-align: center;
    cursor: pointer;
    width: 35px;
    background-color: rgba(0, 0, 0, 0.473);
  }

  .btn--mute:hover {
    background-color: rgb(22, 22, 22);
  }

  /* REMOVE VIDEO */
  .btn--removebg {
    position: absolute;
    right: 100px;
    bottom: 20px;
    font-size: 35px;
    color: rgb(230, 230, 230);
    width: auto;
    border-radius: 50%;
    padding: 10px;
    z-index: 99;
    transition: 0.1s;
    text-align: center;
    cursor: pointer;
    width: 35px;
    background-color: rgba(0, 0, 0, 0.473);
  }

  .btn--removebg:hover {
    background-color: rgb(22, 22, 22);
  }

  .bg{
    position: absolute; 
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hotpink;
    animation: colorchange 20s linear 5s infinite;
  }

  @keyframes colorchange
  {
    0%   {background: red; color: cyan;}
    33%  {background: green; color: magenta;}
    66%  {background: blue; color: yellow;}
    100% {background: red; color: cyan;}
 } 

 .off--red {
  color: rgb(202, 23, 23);
}

/* EXPORT AND IMPORT */
  .modal-content-export {
    background-color: #fefefe;
    margin: auto;
    margin-top: 10px;
    padding: 20px;
    border: 1px solid #888;
    width: 620px;
    opacity: 0.9;
    height: 50px;
    border-radius: 25px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  .modal-content-export .button {
    background-color: #0661b9;
    border-radius: 31px;
    cursor: pointer;
  }
  

  .modal-content-export h3 {
    margin: 7px;
  }