.gameLayout {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    padding-top: 30px;
    padding-right: 15px;
    padding-left: 15px;
}

.cards {
    background-color: rgb(248, 248, 248);
    width: 52%;
    min-width: 850px;
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.4);
    border: 1px solid rgb(228, 228, 228);
    border-radius: 25px;
    height: 90vh;
    overflow: hidden;
    overflow-y: scroll;
    padding: 20px;
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.bingoCardLayout {
    width: 400px;
    display: flex;
    flex-direction: column;
    max-height: 250px;
    align-items: center;
    text-align: center;
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.4);
    border-radius: 30px;
    background-color: rgb(167, 192, 247);
    padding-bottom: 20px;
}
.bingoCardLayoutOther {
    width: 400px;
    display: flex;
    flex-direction: column;
    max-height: 250px;
    align-items: center;
    text-align: center;
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.4);
    border-radius: 30px;
    background-color: rgb(16, 219, 224);
    padding-bottom: 20px;
}
.bingoCardLayout h1 {
    font-family: 'Courier New', Courier, monospace;
}

table.bingoCard {
    border: 5px solid black;
    border-radius: 25px;
    -moz-border-radius: 25px;
    font-size: 30px;
    overflow: hidden;
}

.panel {
    width: 100%;
    max-width: 750px;
    margin-left: 30px;
    padding: 10px;
    height: 100%;
    border: 1px solid rgb(228, 228, 228);
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.4);
    background-color: rgb(248, 248, 248);
    border-radius: 25px;
    display: flex;
}

.balls__grid {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    position: relative;
}

.bingoCard tbody tr th {
    min-height: 35px;
    min-width: 35px;
}

.bingoBall {
    height: auto;
    width: 8%;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    font-size: 3vw;
    text-align: center;
    vertical-align: middle;
    margin: 5px;
    color: white;
    flex: 0 1 calc(10% -12px);
}

.bingoBallEmpty {
    height: auto;
    width: 8%;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    font-size: 3vw;
    text-align: center;
    vertical-align: middle;
    margin: 5px;
    color: grey;
    flex: 0 1 calc(10% - 12px);
}

@media (max-width: 1580px) {
    .cards {
        width: 32%;
        min-width: 420px;
        display: grid;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 1050px) {
    .gameLayout{
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        height: 95vh;
    }
    .cards {
        margin-left: 0px;
        width: 95%;
        display: flex;
        flex-direction: row;
        max-height: 250px;
        min-height: 250px;
        margin-top: 20px;
        overflow-y: hidden;
        overflow-x: scroll;
    }
    .bingoBall{
        font-size: 5vw;
    }
    .bingoBallEmpty{
        font-size: 5vw;
    }
}