.lobby__players__list{
    box-sizing: border-box;
    border: 1px solid black;
    width: 100%;
    min-height: 200px;
    max-height: 275px;
    padding: 0px 20px 0px 20px;
}

.lobby__messages{
    margin-top: 20px;
    min-height: 100px;
    width: 100%;
    box-sizing: border-box;
    padding: 0px 40px 0px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lobby__messages span{
    font-size: 22px;
    font-weight: 500;
    font-family: roboto;
}

#listLobbyMessages {
    border: 1px solid rgb(221, 221, 221);
    border-radius: 10px;
    background-color: rgb(236, 236, 236);
    opacity: 1;
    width: 500px;
    max-width: 500px;
    min-height: 100px;
    box-sizing: border-box;
    padding: 10px 10px 10px 35px;}

#listLobbyMessages li{
    font-size: 18px;
    font-weight: 600;
}

#listLobbyPlayers{
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#listLobbyPlayers li {
    width: 93%;
    height: 40px;
    margin-top: 4px;
    font-size: 22px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: 0.05s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
    position: relative;
}

#listLobbyPlayers li:hover {
    background-color: rgb(233, 233, 233);
}

#listLobbyPlayers li * {
    /* display: inline; */
    color: rgb(19, 19, 19);
}

#listLobbyPlayers li *:first-child {
    /* margin-right: 20px; */
    color: black;
}

.time_left{
    width: 100%;
    font-size: 22px;
}

#listLobbyPlayers li:hover .lobby__card{
    visibility: visible;
}

.lobby__card{
    position: absolute;
    border: 2px solid black;
    background-color: white;
    border-radius: 10px;
    font-size: 20px;
    overflow: hidden;
    top: -100px;
    left: 0;
    visibility: hidden;
}

.lobby__card__table{
    margin-right: 0px;
    display: block;
    border-collapse: collapse;
    /* border: 1px solid black; */
}

.lobby__card__table tbody tr th{
    border: 1px solid black;
    min-height: 20px;
    min-width: 20px;
}

.null{
    background-color: gray;
}